header{
    width: 800px;
    margin-left: calc(50%-500px);
    background-color: yellow;
}
main{
    width: 800px;
    margin-left: calc(50%-500px);
    background-color: green;
}

footer{
    width: 800px;
    margin-left: calc(50%-500px);
    background-color:red;
}